:root {
    --green: #49D0B0;
    --green2: #61e1ca;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.pokemon-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 420px){
    .pokemon-list{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemon-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemon-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pokemon {
    background-color: var(--green);
    height: 100px;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.pokemon-info-head{
    display: flex;
    justify-content: space-between;
}

.pokemon-name{
    text-transform: capitalize;
}

.pokemon-info-body{
    display: flex;
    justify-content: space-between;
}

.pokemon-type-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon-type{
    background-color: var(--green2);
    font-size: .65rem;
    margin:.2rem;
    padding: .2rem;
    text-align: center;
    border-radius: 2rem;

}

.pokemon-code{
    align-self: flex-end;
    opacity: 0.3;
}

.pokemon-image {
    max-width: 100%;
    height: 80px;
    align-self: flex-end;
}